body{
	margin: 0;
	color: #3D4B4C;
}

a, a:visited{
	color: #005C66;
}

a:hover{
	color: #001122;
}
/* Header */

header a{
	float:right;
}

header a#mikro{
	float: left;
	padding-top: 4px;
}

header{
	background: #86D3DB;
	text-align: center;
	padding: 8px;
	height:128px;
	color: white;
	margin-bottom: 16px;
}

header #welcome{
	float: left;
	position: relative;
	top: -8px;
}

#welcome h3, #welcome .level{
	margin: 0;
}

header a img{
	width: 32px;
	height: 32px;
}

header a{
	font-weight: 800;
	color: white;
	text-decoration: none;
}

img#notification-icon{
	width: 32px;
	height: 32px;
	float: right;
	padding-bottom: 256px;
	position: relative;
	top: -32px;
}

header ul#notification-list{
	background: #86D3DB;
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: inline-block;
	float:right;
	margin: 0;
	padding-top: 32px;
	list-style: none;
}

header ul#notification-list:hover{
	width: 256px;
	height: initial;
	position: absolute;
	z-index: 100;
	right: 72px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

header ul#notification-list:hover img#notification-icon{
	left: 16px;
}

ul#notification-list li span.notification-date{
	border-bottom: 1px solid;
	border-color: #f5f5f5;
	display: block;
	border-radius: 20px;
	padding-top: 16px;
}

ul#notification-list li span.notification-content{
	text-align: left;
}

/* /Header */


/* Index */

div#last_friends_trainings_list ul, div#last_trainings_list ul, div#last_friends_conquers_list ul, div#last_conquers_list ul{
	text-align: center;
	list-style: none;
	width: 100%;
	padding: 0;
}

div#last_friends_trainings_list, div#last_trainings_list, div#last_friends_conquers_list, div#last_conquers_list{
	background: rgb(234, 255, 253);
	background: rgba(148, 233, 242, 0.1);
	margin-left: 16px;
	padding: 8px;
	margin-bottom: 32px;
}

@media all and (min-width: 1200px) {
	 div#last_friends_trainings_list, div#last_trainings_list, div#last_friends_conquers_list, div#last_conquers_list{
		display: inline-flex;
		 width: 256px;
	}
	div#index div{
		width:256px;
	}

    header{
	    height: 32px;
    }

    div#index{
	    display: flex;
	    margin: auto;
	    padding-bottom: 32px;
    }
}