{% extends "::base.html.twig" %}

{% block title %}ZacjaBundle:index:index{% endblock %}

{% block body %}
<h1>Welcome!</h1>

	<a href="/signIn">Sign In</a>
	</br>
	<a href="/signUp">Sign Up</a>
{% endblock %}
