{% extends "::base.html.twig" %}

{% block title %}ZacjaBundle:Authenticate:showSignUp{% endblock %}

{% block body %}
<h1>Welcome to the Authenticate:showSignUp page</h1>

	{{ form(form) }}

{% endblock %}
