{% extends "::base.html.twig" %}

{% block title %} - sign in{% endblock %}

{% block body %}
	{{ render(controller('ZacjaBundle:Common:header')) }}


	{% if error is defined %}
		<div class="error">{{ error }}</div>
	{% endif %}

	{% if form is defined %}
		{{ form(form) }}
	{% endif %}

{% endblock %}
