{% extends "::base.html.twig" %}

{% block title %} - sign up{% endblock %}

{% block body %}
	{{ render(controller('ZacjaBundle:Common:header')) }}

	{% if error is defined %}
		<div class="error">{{ error }}</div>
	{% endif %}

	{{ form(form) }}

{% endblock %}
