{% extends "::base.html.twig" %}

{% block title %}ZacjaBundle:User:showUserConquers{% endblock %}

{% block body %}
	{{ render(controller('ZacjaBundle:Common:header')) }}

	<div id="map-canvas"></div>

	{{ render(controller('ZacjaBundle:User:getUserConquers', {'user': user})) }}

	{{ render(controller('ZacjaBundle:Comment:showComments', {'request': app.request, 'path': app.request.getPathInfo})) }}

{% endblock %}
