{% extends "::base.html.twig" %}

{% block title %} - user trainings{% endblock %}

{% block body %}
	{{ render(controller('ZacjaBundle:Common:header')) }}
<div class="separate">
	{{ render(controller('ZacjaBundle:User:getUserTrainings', {'user': user})) }}
</div>

{% endblock %}